src/main/mule/cc-pipeline-v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="205e720f-fceb-449c-8560-2ea99fef6bfe" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cc-pipeline-v1Flow" doc:id="7949914c-4943-49ce-aca1-82c819a7cdc7" >
		<http:listener doc:name="Listener" doc:id="8392f10e-248e-4fb7-adae-32b7ae5c7dd7" config-ref="HTTP_Listener_config" path="/pipeline"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="422261a7-2707-4316-97a7-ecefeecf3462" />
	</flow>
</mule>
